body * {
  font-family: 'Lato', sans-serif;
  font-weight: 500;  
  box-sizing: border-box;
}

body {
  background: #8E8F8F;
}

p, h1, h4, a {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}

a {
  position: relative;
  text-decoration: none;
  color: #323334;
  margin-left: 2.127659574%;
  top: 5px;
}

.titulo, .mensagem_commit_pequeno, .conteudo_commit_grande, .mensagem_commit_grande {
  margin-left: 9px;
  text-align: left;
  padding-right: 3px;
  margin-left: 9px;
}

.cartao, .cartao_grande {
  background-color: #C2B00F;
}

.cartao {
  box-shadow: 15px 15px #a9a04e;
}


.cartao {
  top: 25%;
  margin: 25px;
  height: 200px;
}

.data_do_commit {
  background-color: #323334;
  padding: 10px;
  margin: 51px 0 0 0;
  position: absolute;
  color: #FFFFFF;
  font-size: 11px;
  text-align: center;
}

/*
.vista_temporal {
      box-sizing: border-box;
      top: 0px;
      left: 0px;
      max-width: 1920px;
      max-height: 1080px;
      opacity: 1;
      position: absolute;
    
}
*/

.dados {
  word-wrap: break-word;
  hyphens: auto;
  font-size: 13px;
  /* 14*/
  background-color: #323334;
  width: calc(6.38297872% * 2 + 2.127659574% * 1)-50px;
  color: #FFFFFF;
  line-height: 16px;
  padding-top: 1px;
  padding-left: 8px;
  padding-right: 3px;
  margin-left: 9px;
  max-width: 12vw;
  max-height: 15vh;
}

.desaparece {
  /* CLASSE QUE ESTÁ A OMITIR O CARTÃO GRANDE E AS HORAS*/
  display: none;
}


hr.linha {
  position: absolute;

  top: 52%;
  left: 0.5px;
  width: 100%;
  /*  border-top: 5px solid white;*/
  border: 1px solid white;
  background-color: white;
}

.ponto {
  top: 51%;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  position: absolute;
  background-color: #C2B011;
  border: 1px solid #C2B00F;
  z-index: 1;

}


h1.setas, .setas_grande {
  margin-top: -4vw;
  position: absolute;
  font-size: 4vw;
  margin-left: 9vw;
}

.setas_grande {
  margin-left: 59vw;
}

.cartao_grande {
  position: absolute;
  left: calc(6.38297872% * 3 + 2.127659574% * 2);
  box-shadow: 25px 25px #a9a04e;
}

.mensagem_commit_grande, .conteudo_commit_grande {
  margin-left: 9vw;
  padding-right: 1vw;
}

.conteudo_commit_grande {
  background-color: #323334;
  color: #FFFFFF;
  padding: 4vw;
  padding-top: 2vw;
  margin-right: 2vw;
  padding-bottom: 2vw;
}



.grid {
  width: 100%;
  padding: 0 2.040816326%;
  /* calc(100% * 20 / 980); */
  margin: 0 auto;
  box-sizing: border-box;
}

.grid * {
  box-sizing: border-box;

}

.row {
  min-height: 20px;
  clear: both;
}

[class*="col"] {
  float: left;
  margin-left: 2.127659574%;
  min-height: 1px;
}

[class*="col"]:first-child {
  margin-left: 00px;
}

@media screen and (min-width: 720px) {

  [class*="col"] {
    float: left;
    margin-left: 2.127659574%;
    /* calc(100% * 20 / 940); */
    width: 6.38297872%;
    /*calc(100% * 60 / 940);*/
    min-height: 1px;
  }


  /*colunas*/
  .col-d-1 {
    width: calc(6.38297872% * 1);
  }

  .col-d-2 {
    width: calc(6.38297872% * 2 + 2.127659574% * 1);
  }

  .col-d-3 {
    width: calc(6.38297872% * 3 + 2.127659574% * 4);
  }

  .col-d-8 {
    width: calc(6.38297872% * 8 + 2.127659574% * 7);
  }

  .col-d-12 {
    width: calc(6.38297872% * 12 + 2.127659574% * 11);
  }
}