* {
    text-decoration: none;
}

a {
    text-underline: none;
}

.nav {
    position: fixed;
    width: 180px;
    height: 290px;
    left: 0;
    top: 0;
    background-color: #222222;
    box-shadow: 9px 9px 35px rgba(0, 0, 0, 0.09);
    border-bottom-right-radius: 14px;
    font-family: Lato, sans-serif;
}

.home {
    position: fixed;
    left: 27px;
    top: 15px;
    color: #E5E5E5;
}

img{
    width: 120px;
    height: 70px;
}

.comm{
    position: fixed;
    top: 120px;
    left: 20px;
    width: 18px;
    height: 18px;
}

.vista_temporal {
    position: fixed;
    width: 121px;
    height: 22.55px;
    left: 50px;
    top: 121px;

    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #E5E5E5;
}

.graph{
    position: fixed;
    top: 155px;
    left: 20px;
    width: 20px;
    height: 26px;
}

.graf_effort {
    position: fixed;
    width: 134px;
    height: 19.13px;
    left: 50px;
    top: 159.22px;

    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #E5E5E5;
}

.log_out {
    position: fixed;
    width: 64.8px;
    height: 22.1px;
    left: 50px;
    top: 250px;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #E5E5E5;
}

.gg-log-out {
    position: fixed;
    width: 13px;
    height: 13px;
    border: 2px solid;
    border-right: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-left: -10px;
    left: 30px;
    top: 250px;
    color: #E5E5E5;
}

.gg-log-out::after,
.gg-log-out::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-log-out::after {
    border-top: 2px solid;
    border-left: 2px solid;
    transform: rotate(-45deg);
    width: 6px;
    height: 6px;
    left: 5px;
    bottom: 4px;
}

.gg-log-out::before {
    border-radius: 3px;
    width: 10px;
    height: 2px;
    background: currentColor;
    left: 6.5px;
    bottom: 6px;
}
