<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Pagina de commits</title>
    </head>

    <body>
        <a a href="{% url 'pagina'%}">Pagina inicial</a>

        <p>Total de commits: {{ commits_list|length }}</p>
        <br>

        {% for commit in commits_list%}
            <p>Nome: {{commit.author_name}} </p>
            <p>Título: {{commit.title}} </p>
            <p>Data do commit : {{commit.committed_date}} </p>
            <br>
        {%endfor%}

    </body>

</html>
