<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Pagina de commits</title>
        
        <!-- <link rel="stylesheet" href="/static/css/menu_nav.css"> -->
        <link rel="stylesheet" href="/static/css/vista_temporal_ust3_css.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">

        <!-- LINK PARA O JS -->
        <script src="static/js/vista_temporal_ust3_js.js " defer></script>
    </head>

    <body>
        <header>
            <a href="{%url 'members'%}">Lista de Membros</a>
            <a href="{%url 'logout'%}">Logout</a>
        </header>

        <main>
        <!-- <p id="" class="numero_commits">Total de commits: {{ commits_list|length }}</p>  -->
        <!-- <p  id="numero class="numero_commits">{{ commits_list|length }}</p>  -->

        <!-- form to get commits interval -->
        <form method="post">
            {% csrf_token %}
            <p>Data 1: {{date_form.date1}}</p>
            <p>Data 2: {{date_form.date2}}</p>
            <button type="submit">Escolher</button>
        </form>

        <p>
            <!-- print start date -->
            Data inicial: 
            {% if date1 is not null %}
               {{date1}}
            {% else %}
                Nenhuma
            {% endif %}
        </p>

        <p>
            <!-- print end date -->
            Data final: 
            {% if date2 is not null %}
               {{date2}}
            {% else %}
                Nenhuma
            {% endif %}
        </p>

        <br>
        <div class="linha"></div>

        {% for commit in commits_list%}


        <div class="vista_temporal">
            <!--  <p>Total de commits: {{ commits_list|length }}</p>-->

            <!-- DADOS PARA USAR NO UST 3a-->
            <span class="ponto"></span>

            <div class="horaslinhas">
            <p></p>
            </div>

            <div class="horas">
            <p class= "conteudo_horas" >{{commit.committed_date}} </p>
            </div>


            <div class="cartao desaparece">


            <h4 class="mensagem_commit_pequeno"> Data <br> Autor</h4>
            <h1 class="setas"> >> </h1>
            <!-- <p class="titulo">Título: {{commit.title|slice:":25"}} </p>-->
            <!-- <h4 class="mensagem_commit_pequeno"> Mensagem <br> Commit</h4> -->
            <section class="dados">
                <!-- <p class="nome">Nome: {{commit.author_name}} </p> -->
                <!-- <p class="titulo">Título: {{commit.title}} </p>-->
                <p class="conteudo_commit"> <b class="data"></b>{{commit.committed_date}}<br>{{commit.author_name}}
                </p>
            </section>
            </div>
            <!-- <p class="data_do_commit">Data do commit : {{commit.committed_date}} </p>
                -->
            <!-- DATA DO COMMIT QUE DEVE APARECER QUANDO HOUVER COMMITS MUITO PERTO-->
            <!-- <div class="data_do_commit col-d-3 desaparece">Data do commit : {{commit.committed_date}} </div> -->


            <div class="row"></div>
            </section>

            <!-- DADOS QUE APARECEM QUANDO SE CLICA NAS SETAS DA CAIXA PEQUENA -->
            <section class="cartao_grande col-d-8 desaparece">
            <h4 class="mensagem_commit_grande"> Mensagem <br> Commit</h4>
            <h1 class="setas_grandes"> << </h1>
            <p class="conteudo_commit_grande"> {{commit.title}} </p> <!-- MUDAR PARA A MENSAGEM-->

            </section>
        </div>

        {%endfor%}
    </main>
    <footer></footer>
    </body>

</html>
