<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Pagina de membros</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
        <a href="{% url 'commits'%}">Vista Temporal</a>
        <a href="{% url 'logout'%}">Logout</a>
        </header>

        <br>
        <div class="efeito">
        <p>Total de membros: {{ members|length }}</p> </div>
    
        <div class="linha"></div>

        <br>
    <div class="letras">
        {% for member,info in members.items %}
            <p>Nome: {{member}}</p>
    

            {% load mathfilters %}
            <p>Tempo: {{ info.hours|intdiv:3600}}h {{ info.hours|mod:3600 | intdiv:60 }}m</p> 
            <img src = {{info.avatar_url}}>
            
            <br>
        {%endfor%}
    </div>

        <style>
            body{
                background-color:#8E8F8F;
            }

            p, h1, h4, a {
                font-family: 'Lato', sans-serif;
                font-weight: 500;
            }
            
            a {
                position: relative;
                text-decoration: none;
                color: #323334;
                margin-left: 2.127659574%;
                top: 5px;
            }

            .linha {
            position: relative;
            border: 0;
            top: 1vh;
            border-top: 2px solid #C2B011;
            }

            .efeito {
                color: whitesmoke;
                font-size: 15pt;
              font-family: Georgia, 'Times New Roman', Times, serif;

            }

            .letras {
              font-weight: bold;
              font-size: 12pt;
              font-family: Georgia, 'Times New Roman', Times, serif;
            }

            p, img {
                display: block;
                text-align: center;
            }

            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 80px;
                height: 80px;
            }

            
        </style>



    </body>

</html>
