<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>

<style>
    body{
        background-color: #101010;
        margin-top: 5%;
    }

    .hello{
        font-family: Montserrat, sans-serif;
        font-size: 5px;
        letter-spacing: 1.04px;
        color: #C9C9C9;
        opacity: 1;
    }

    .signup{
        text-align: center;
        font-family: Montserrat, sans-serif;
        font-size: 25px;
        letter-spacing: 1.04px;
        color: #C9C9C9;
        opacity: 1;
    }

    input[type=button]{
        height: 35px;
        text-align: center;
        margin:auto;
        background-color: #101010;
        color: #C2B00A;
        font-family: Lato, sans-serif;
        font-size: 15px;
        width: 30%;
        display: grid;
        margin-top:5% ;
        padding: 14px 20px;
        border: none;
        border-radius: 15px;
        box-shadow: inset 0 -3px 8px #000000;
        cursor: pointer;
    }

    form{
        margin:auto;
        width: 400px;
        height: 300px;
        background: #101010 0 0 no-repeat padding-box;
        box-shadow: 16px 12px 42px #000000;
        border-radius: 42px;
    }

    input[type=text]{
        font-family: Lato, sans-serif;
        font-size: 17px;
        margin-top:5%;
        width: 90%;
        padding: 12px 20px;
        display: inline-block;
        border-radius: 42px;
        box-sizing: border-box;
        background: #CECECE73 0 0 no-repeat padding-box;
        border: none;
        letter-spacing: 0;
        opacity: 0.50;
        color: #CECECE;
    }

    input[type=password]{
        font-family: Lato, sans-serif;
        font-size: 17px;
        margin-top:5%;
        width: 90%;
        padding: 12px 20px;
        display: inline-block;
        border-radius: 42px;
        box-sizing: border-box;
        background: #CECECE73 0 0 no-repeat padding-box;
        border: none;
        letter-spacing: 0;
        opacity: 0.50;
        color: #CECECE;
    }

    button[type=submit] {
        font-family: Lato, sans-serif;
        font-size: 17px;
        width: 30%;
        height: 5vh;
        display: grid;
        margin:auto;
        margin-top:5% ;
        background-color: dimgrey;
        color: white;
        padding: 14px 20px;
        border: none;
        border-radius: 42px;
        cursor: pointer;
        opacity: 0.50;
    }

    button[type=submit]:hover {
        opacity: 0.40;
    }

    label[for]{
        font-family: Lato, sans-serif;
        font-size: 20px;
        letter-spacing: 0;
        color: #CECECE;
        opacity: 1;
    }

    div {
        border-radius: 42px;
        padding: 20px;
    }

</style>
<body>

<div class="signup">
    <h1>Inscrever</h1>

    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="nome">Nome de Utilizador: {{signup_form.username}}</label><br>

            <label for="passe">Palavra-passe: {{signup_form.password}}</label><br>

            <button type="submit">Criar</button>
        </form>
    </div>
</div>

</body>

</html>
